<section>
<div class="first">
    <div class="two">
        <span style="color: white;text-align: center;margin-top: 20px;">Username</span>
    </div>
    <div class="txt">
    <p *ngFor="let ch of messageStore.chats" [class.myChat]="ch.sender === 'me'" [class.yourChat]="ch.sender !== 'me'">
        <button (click)="DeleteChat(ch)">DDDDDDDDDD</button>
        {{ch.status}}\{{ch.content}}<br><br>{{ch.date}}
    
    </p>

    </div>
</div>
<mat-form-field class="example-full-width">
    <mat-label>ارسال پیام</mat-label>
    <textarea matInput placeholder="سلام چطوری..." (keyup.enter)="SendChat()" [(ngModel)]="newChatText"></textarea>
</mat-form-field>
</section>