<div class="con">
  <div>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Facebook_Logo_2023.png/1024px-Facebook_Logo_2023.png">
      <h4 style="text-align: center;">ورود به برنامه</h4>
      <h6 style="text-align: center;">لطفا شماره تلفن خود را وارد کنید.</h6>
  </div>

  <form [formGroup]="loginFormControl" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width">
      <mat-label>شماره تلفن</mat-label>
      <input type="number" matInput formControlName="mobile" placeholder="Ex. 0912 345 6789" class="input">
      <mat-error *ngIf="loginFormControl.get('mobile')!.hasError('required')">شماره الزامی است</mat-error>
      <mat-error *ngIf="loginFormControl.get('mobile')!.hasError('pattern')">
        لطفا شماره تلفن را درست وارد نمایید
      </mat-error>
    </mat-form-field>
    <mat-checkbox formControlName="checked">مرا به خاطر نگه دار</mat-checkbox>
    <button mat-flat-button color="primary" type="submit" (click)="onSubmit()" class="full-width">ادامه</button>
    </form>
</div>